 <!-- side bar dashboard  -->
<div id="div_flash_message">
  <%= render :partial=>"/layouts/common/flash_message" %>
</div>

<div class="container ">

  <!-- home page scroll images -->
  <div class="row carousel-holder">

    <div class="col-md-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img class="slide-image" src="/assets/my_road_trip_1.jpg" alt="">
          </div>
          <div class="item">
            <img class="slide-image" src="/assets/my_road_trip_2.jpg" alt="">
          </div>
          <div class="item">
            <img class="slide-image" src="/assets/my_road_trip_3.jpg" alt="">
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="well-sm pull-right MT-9">
    <%= button_to "Create New trip", new_trip_path ,:method=> :get, remote: false, :class=>"btn btn-warning", 'data-toggle' => 'modal'%>
  </div>

  <%= form_tag trips_path, html: { class:"form-horizontal" }, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", class: "btn btn-primary ok-btn-padding", name: nil %>
  </p>
  <%end%>
  <br>

  <div class="row">
    <%if @trips.present?%>
    <%@trips.each do|trip|%>
    <%= link_to trip_path(trip) do %>
    <%=render :partial => "trips/stories",:locals=>{:trip=>trip}%>
    <%end%>
    <%end%>
    <%else%>
    <h4><center>No trip created</center></h4>
    <%end%>
    
    <div class="col-sm-4 col-lg-4 col-md-4">
      <h4><a href="#">Like this website?</a>
      </h4>
      <p>click on the button to view more trip experience </p>
      <a class="btn btn-primary" target="" href=#>View More Road Trips</a>
    </div>
  </div>
  <%= paginate @trips %>
</div>

<script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
    });

  </script>
