<div id="content">
  <div class="container main-column">
    <div class="row margin-vert-30">
      <!-- Main Column -->
      <div class="col-md-9 background-white">
        <!-- Trip Post -->
        <%if @trips.present?%>
        <%@trips.each do |trip|%>
        <%= render :partial=>"layouts/common/trip_post",:locals=>{:trip => trip}%>
        <%end%>
        <%= paginate @trips %>
        <%else%>
        <h2 class="animate fadeIn text-center">No Trips Created.</h2>
        <%end%>
        <!-- End Trip Item -->
      </div>
      <!-- End Main Column -->
      <!-- Side Column -->
      <div class="col-md-3 recent-trip">
        <div class="blog-tags">
        </div>
        <!-- Recent Posts -->
        <div class="recent-posts">
          <h3>Recently Added Trips</h3>
          <ul class="posts-list margin-top-10">
            <%@trips.last(5).each do |t|%>
            <li>
              <div class="recent-post">
                <%= link_to (image_tag t.main_image, :class=>"pull-left small"), trip_path(t)%>
                <%= link_to t.title, trip_path(t)%>
                <br>
                <span class="recent-post-date">
                  <%=t.created_at.strftime("%d %b. %Y")%>
                </span>
              </div>
              <div class="clearfix"></div>
            </li>
            <%end%>
          </ul>
        </div>
        <!-- End Recent Posts -->

        <!-- Most Viewed Posts -->
        <div class="recent-posts">
          <h3>Recently Added Trips</h3>
          <ul class="posts-list margin-top-10">
            <%@trips.last(5).each do |t|%>
            <li>
              <div class="recent-post">
                <%= link_to (image_tag t.main_image, :class=>"pull-left small"), trip_path(t)%>
                <%= link_to t.title, trip_path(t)%>
                <br>
                <span class="recent-post-date">
                  <%=t.created_at.strftime("%d %b. %Y")%>
                </span>
              </div>
              <div class="clearfix"></div>
            </li>
            <%end%>
          </ul>
        </div>
        <!-- End Most Viewed Posts -->
      </div>
      <!-- End Side Column -->
    </div>
  </div>
</div>
