<%= tinymce plugins: ["uploadimage"]%>

<!-- Post header begins-->
<div id="post_header" class="container" style="height:40px">
</div>
<div id="content-top-border" class="container">
</div>
<!-- Post header ends -->
<!-- Content begins -->
<div id="content">
  <div class="container background-white">
    <div class="row margin-vert-30">
      <!-- Main Column -->
      <div class="col-md-12">
        <!-- Main Content -->
        <div class="headline">
          <h2>Your Journy Begins!</h2>
        </div>
        <p>Follow the Sign Board and share your journy</p>
        <br>
        <!-- Contact Form -->
        <form>
          <%= form_for :trip, url: trips_path, method: 'post' do |f| %>
          <label>Title</label>
          <div class="row margin-bottom-20">
            <div class="col-md-6 col-md-offset-0">
              <%= f.text_field :title, class: "form-control" %>
            </div>
          </div>
          <label>Description</label>
          <div class="row margin-bottom-20">
            <div class="col-md-8 col-md-offset-0">
              <%= f.text_area :description, rows: "8", class: "form-control"%>
            </div>
          </div>
          <label>Display Picture</label>
          <div class="row margin-bottom-20">
            <div class="col-sm-3">
              <div class="event-title">
                <%= image_tag "trip1.jpg", alt: "image", class: "img-thumbnail", id: "preview" %>
              </div>
            </div>
            <div class="col-sm-3">
              <%= f.file_field :main_image, id: "exampleInputFile" %>
            </div>
            <div class="col-sm-2"></div>
          </div>
          <label>Story Route</label>
          <!-- Create route starts -->
          <div class="row margin-bottom-20">
           <div class="col-md-6 margin-top-20 form-horizontal" id="calculate-route">
             <div id="field" class="scroll col-md-9">
               <a id="field1-link" href="#">Get my position</a>
               <%= f.text_field :from_address, id: 'field1', name: 'checkpoint1' , class: "form-control margin-bottom-20", required: true, placeholder: "From address"%>
               <button id="b1" class="btn add-more" type="button">+</button>
             </div>

             <div class="col-md-9 margin-top-20">
               <a id="to-link" href="#">Get my position</a>
               <%= f.text_field :to_address, id: 'to', class: "form-control", required: true, placeholder: "To address" %>
             </div>
           </div>

           <div class="col-md-5 map-style">
             <div id="createRoute"></div>
             <p id="error"></p>
           </div>
         </div>
         <div class="margin-left margin-top-20 margin-bottom-20">
          <button class= "btn btn-primary ok-btn-padding" id="calculateRoute" >Check Route </button>
          <button type="reset" class="btn btn-warning ok-btn-padding">Reset</button>
        </div>
        <!-- Create route ends -->
        <!-- Start tinymce text area -->
        <%= f.text_area :content, rows: "8", class: "tinymce", placeholder: "What is your story" %>
        <!-- Ends tinymce text area -->
        <p class="margin-top-20">
         <%= f.submit "Submit", class: "btn btn-primary" %>
       </p>
     </form>
     <%end%>
     <!-- End Contact Form -->
     <!-- End Main Content -->
   </div>
   <!-- End Main Column -->
 </div>
</div>
</div>
<!-- Content Ends -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_21910Bt7xVDIzMDB_UXtpCSC75BO0aw&libraries=places&callback=initMap" async defer></script>
<script>

  function initMap() {
    debugger;
    var map = new google.maps.Map(document.getElementById('createRoute'),{
      center: {lat: 20.5937, lng: 78.9629},
      zoom: 5
    });
    /** autocomplete form and to text_field */
    var from = /** @type {!HTMLInputElement} */(
      document.getElementById('field1'));

    var to = /** @type {!HTMLInputElement} */(
      document.getElementById('to'));

    var autocomplete = new google.maps.places.Autocomplete(from);
    autocomplete.bindTo('bounds', map);

    var autocomplete = new google.maps.places.Autocomplete(to);
    autocomplete.bindTo('bounds', map);
  }

  $(document).ready(function() {
        // If the browser supports the Geolocation API
        if (typeof navigator.geolocation == "undefined") {
          $("#error").text("Your browser doesn't support the Geolocation API");
          return;
        }

        $("#field1-link, #to-link").click(function(event) {
          event.preventDefault();
          var addressId = this.id.substring(0, this.id.indexOf("-"));

          navigator.geolocation.getCurrentPosition(function(position) {
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({
              "location": new google.maps.LatLng(position.coords.latitude, position.coords.longitude)
            },
            function(results, status) {
              if (status == google.maps.GeocoderStatus.OK)
                $("#" + addressId).val(results[0].formatted_address);
              else
                $("#error").append("Unable to retrieve your address<br />");
            });
          },
          function(positionError){
            $("#error").append("Error: " + positionError.message + "<br />");
          },
          {
            enableHighAccuracy: true,
            timeout: 10 * 1000 // 10 seconds
          });
        });

        $("#calculateRoute").click(function(event) {
          event.preventDefault();

          calculateRoute($("#field1").val(), $("#to").val());
        });
      });

  var count = 0;

  $(document).ready(function(){
    var next = 1;
    $(".add-more").click(function(e){
      e.preventDefault();
      if(count == 0){
        var addto = "#field" + 1;
        // var addRemove = "#field" + 1;
      }
      else {
        var addto = "#field" + next;
        // var addRemove = "#field" + (next);
      }
      next = next + 1;
      var removeBtnId = "remove" + (next);
      var newIn = '<div class ="display-flex margin-bottom-20" id= "field' + next + '"> <button id="remove' + (next) + '" class="btn btn-danger remove-me" onclick="javascript:removeElement(event, remove' + next +'); return false;">-</button> <input autocomplete="off" class="col-md-6 input form-control" id= "field' + next + '" name= trip[checkpoint' + next + '] type="text"> </div>';

      var newInput = $(newIn);
      $(addto).after(newInput);
      count ++;
      // add auto complete to all extra fields
      // $(addRemove).after(removeButton);
      $("#field" + next).attr('data-source',$(addto).attr('data-source'));
      $("#count").val(next);

      debugger;
      var map = new google.maps.Map(document.getElementById('createRoute'),{
        center: {lat: 20.5937, lng: 78.9629},
        zoom: 5
      });
      var waypoint = /** @type {!HTMLInputElement} */(
        document.getElementById('field2'));
      var autocomplete = new google.maps.places.Autocomplete(waypoint);
      autocomplete.bindTo('bounds', map);
      // end autocomplete

    });
  });

  function removeElement(e, buttonId) {
    e.preventDefault();
    var fieldNum = buttonId.id.charAt(buttonId.id.length-1);
    var fieldID = "#field" + fieldNum;
    $(buttonId).remove();
    $(fieldID).remove();
    count --;
  }
</script>

