<div class="col-md-10 portfolio-group no-padding">
  <!-- Portfolio Item -->
  <div class="col-md-4 portfolio-item margin-bottom-40 filer-code">
    <figure class="animate fadeInLeft">
      <div>
        <%= link_to trip_path(trip_first) do %>
        <figure>
          <%= image_tag  trip_first.main_image.url,  :alt =>"Image" %>
          <figcaption>
            <h3 class="margin-top-20"><%=trip_first.title%></h3>
            <span><%=truncate trip_first.description, length: 100 %></span>
          </figcaption>
        </figure>
        <%end%>
      </div>
    </figure>
  </div>
  <!-- End Portfolio Item -->
  <!-- Portfolio Item -->
  <%if trip_middle %>
  <div class="col-md-4 portfolio-item margin-bottom-40 design">
    <figure class="animate fadeInUp">
      <div>
        <%= link_to trip_path(trip_middle) do %>
        <figure>
          <%= image_tag  trip_middle.main_image.url,  :alt =>"MiddleImage" %>
          <figcaption>
            <h3 class="margin-top-20"><%=trip_middle.title%></h3>
            <span><%=truncate trip_middle.description, length: 100 %></span>
          </figcaption>
        </figure>
        <%end%>
      </div>
    </figure>
  </div>
  <%end%>
  <!-- End Portfolio Item -->
  <!-- Portfolio Item -->
  <%if trip_last %>
  <div class="col-md-4 portfolio-item margin-bottom-40 design">
    <figure class="animate fadeInRight">
      <div>
        <%= link_to trip_path(trip_last) do %>
        <figure>
         <%= image_tag  trip_last.main_image.url,  :alt =>"LastImage" %>
         <figcaption>
          <h3 class="margin-top-20"><%=trip_last.title%></h3>
          <span><%=truncate trip_last.description, length: 100%></span>
        </figcaption>
      </figure>
      <%end%>
    </div>
  </figure>
</div>
<%end%>
<!-- End Portfolio Item -->
</div>