        <div class="blog-post padding-bottom-20">
          <!-- Blog Item Header -->
          <div class="blog-item-header">
            <!-- Title -->
            <h2>
              <a href="#"><%=trip.title%></a>
            </h2>
            <div class="clearfix"></div>
            <!-- End Title -->
          </div>
          <!-- End Blog Item Header -->
          <!-- Blog Item Details -->
          <div class="blog-post-details">
            <!-- Author Name -->
            <div class="blog-post-details-item blog-post-details-item-left">
              <i class="fa fa-user color-gray-light"></i>
              <a href="#"><%=trip.user.name%></a>
            </div>
            <!-- End Author Name -->
            <!-- Date -->
            <div class="blog-post-details-item blog-post-details-item-left">
              <i class="fa fa-calendar color-gray-light"></i>
              <a href="#"><%=trip.created_at.strftime("%d %b. %Y")%></a>
            </div>
            <!-- End Date -->
            <!-- Tags -->
            <div class="blog-post-details-item blog-post-details-item-left blog-post-details-tags">
              <i class="fa fa-tag color-gray-light"></i>
              <a href="#">PHP</a>,
              <a href="#">HTML</a>,
              <a href="#">Ruby</a>
            </div>
            <!-- End Tags -->
            <!-- # of Comments -->
            <div class="blog-post-details-item blog-post-details-item-left blog-post-details-item-last">
              <a href="">
                <i class="fa fa-comments color-gray-light"></i>
                <%=trip.comments.count%> Comments
              </a>
            </div>
            <!-- End # of Comments -->
          </div>
          <!-- End Blog Item Details -->
          <!-- Blog Item Body -->
          <div class="blog">
            <div class="clearfix"></div>
            <div class="blog-post-body row margin-top-15">
              <div class="col-md-5">
              <%=image_tag trip.main_image, :class=>"margin-bottom-20 trip-list-image"%>
              </div>
              <div class="col-md-7">
                <p><%=trip.description%></p>
                <!-- Read More -->
                <%= link_to "Read More", trip_path(trip), :class=>"btn btn-primary icon-chevron-right readmore-icon"%>
                <!-- End Read More -->
              </div>
            </div>
          </div>
          <!-- End Blog Item Body -->
        </div>