<!DOCTYPE html>
<html>
<head>
	<title>My Road Trip</title>
	<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
<%= render :partial=>"layouts/common/header"%>
<div id="div_flash_message" class="container flash">
  <%= render :partial=>"/layouts/common/flash_message"%>
</div>
	<div id="popup_modal" class="modal fade"></div>
	<%= yield %>
</body>
</html>
